/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
	margin: 0;
	
}
p,ul li{
	margin:0;
	font-size:15px;
}
h2,h3,h4{
	margin:0;
	font-family: 'Cairo', sans-serif;
	
}
h1{
     font-family: 'Great Vibes', cursive;
    }
ul{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}

.w3_banner_info_grid p {
		font-weight:bold;
		text-shadow: 5px 5px 5px #01030b;
		text-align:center;
}
img{
	width:100%;
}

/*-- header --*/
h1 a.navbar-brand {
    font-size: 35px;
    color: #fff !important;
    padding: 0;
    height: inherit;
    margin: 10px 0;
    text-transform: capitalize;
}
h2 p.navbar-brand {
    font-family: 'Abril Fatface', cursive;
    color: blue;
    font-size: 35px;
    text-transform: uppercase;
}
nav.navbar.navbar-default.navbar-fixed-top {
    background:rgba(0, 0, 0, 0.35);
    background: rgba(0, 0, 0, 0.1);
    border: none;
    padding: .6em 14em;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	transition:.5s all;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
    background-color:   #7f95fe ;
}
.navbar-default .navbar-nav > li>a:hover {
    color: #fff;

}
.navbar-nav > li > a {
    padding: 10px;
}
/*-- //header --*/


/*-- banner --*/
.banner{
	background: url(../images/analitics.jpeg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 770px;
    position:relative;
}
.agileinfo-dot {
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
    min-height: 770px;
    padding: 1em 0;
}
/*-- menu-navigation --*/
/*** Hamburger ***/
/*-- nav-effect --*/
/*-- //nav-effect --*/
.w3_banner_info {
    margin: 13em 0 0em;
    width: 450px;
    padding: 10px;
}
.w3_banner_info_grid h2 {
    font-family: 'Russo One', sans-serif;
    font-size: 3em;
    color: #ffffff;
    line-height: 1.1em;
    text-transform: capitalize;
    font-weight: 200;
    text-shadow: 3px 3px #163cfc;
}
.w3_banner_info_grid ul li{
	display:inline-block;
	font-size:1em;
}
.w3_banner_info_grid ul li a{
	padding:9px 30px;
	text-decoration:none;
	color:#212121;
}
.w3ls_more:hover {
    border: 3px solid#163cfc;
    color: #ffffff !important;


}
.w3ls_more {
    border: 3px solid #fff;
    background: #163cfc;
    color: #ffffff !important;


}
.social-btns li a{

   font-size:35px;
     float:center;
      color: #5388f5;

    }
.social-btns{


     text-align:center;


    }



.w3ls_more:focus{
	outline:none;
	background:#163cfc;
}
.w3_banner_info_grid p {
    margin: 1.5em 0 3em;
    text-align:justify;
    color: #fff;
    line-height: 28px;
    letter-spacing: 1px;
    font-size: 23px;
}
/*-- button-effect --*/
.thim-click-to-bottom {
    position: absolute;
    bottom: 7%;
    left: 50%;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    -webkit-animation: bounce 2s infinite ease-in-out;
}
.thim-click-to-bottom i {
    color: #fff;
    padding: 15px 12px;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 16px;
}
@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -ms-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -o-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -moz-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}
/*-- //button-effect --*/
/*-- //banner --*/

/*-- bootstrap-modal-pop-up --*/
/* modal */
h4.modal-title {
    text-align: center;
    font-size: 30px;
    color: #000;
    font-weight: 600;
}
ul.address {
    margin-top: 1.5em;
    border-top: 1px dotted #018fa0;
    padding-top: 0.5em;
}
ul.address li {
    display: block;
}
ul.address li ul.agileits-address-text li:nth-child(1) {
    width: 20%;
}
ul.address li ul.agileits-address-text li {
    display: inline-block;
    font-size: 1em;
    color: #000;
    margin-top: 1em;
}
.wthree h4 {
    font-size: 18px;
    margin: 10px 0;
    color: #000;
}

.modal a{
    color: #000;
    letter-spacing: 2px;
}
.modal a:hover {
    color: #018fa0;
}
b {
    font-weight: bold;
    color: #163cfc;
}
.about-modal.wthree {
    padding: 2em 4em;
}
/* //modal */
/*-- //bootstrap-modal-pop-up --*/

/*-- about --*/
.about h3, .skills h3 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
	letter-spacing:2px;
}
.about-left p {
    line-height: 28px;
    text-align:justify;
    letter-spacing: .5px;
    font-size: 14px;
    margin: 1em 0;
}
.about-left {
    padding: 0 0 0 5em;
}
/*-- hover-effect --*/
.boxw3-agile {
    overflow: hidden;
    position: relative;
    margin-bottom: 2em;
    margin-top: 1em;
}

.w3labout-img img.img-responsive {
    width: 100%;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	transition:.5s all;
}
/* agile-caption Common Style */
.boxw3-agile .agile-caption {
	position: absolute;
	color: #fff;
	z-index: 100;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
	left:-100%;
	top:0;
	width: 100%;
	height: 100%;
	padding: 24% 10%;
	text-align: center;
}
/** agile-caption 6: Scale **/
.boxw3-agile .agile-caption h3,.boxw3-agile .agile-caption p {
	position: relative;
	left:-380px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
}
.boxw3-agile .agile-caption h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 auto 0.5em;
    font-weight: 600;
    color: #163cfc;
}
.boxw3-agile .agile-caption p {
    line-height: 2em;
    color: #d5d3d3;
    font-weight: 300;
}
.boxw3-agile .agile-caption h3 {
	-webkit-transition-delay: 300ms;
	-moz-transition-delay: 300ms;
	-o-transition-delay: 300ms;
	-ms-transition-delay: 300ms;	
	transition-delay: 300ms;
}

.boxw3-agile .agile-caption p {
	-webkit-transition-delay: 500ms;
	-moz-transition-delay: 500ms;
	-o-transition-delay: 500ms;
	-ms-transition-delay: 500ms;	
	transition-delay: 500ms;
}
/** Fade agile-caption :hover Behaviour **/
.boxw3-agile:hover .agile-caption {
	opacity: 1;
	background-color: rgba(0,0,0,0.5);
	left:0;
}
/** Scale agile-caption :hover Behaviour **/
.boxw3-agile:hover img{
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

.boxw3-agile:hover .agile-caption h3,.boxw3-agile:hover .agile-caption p {
	-moz-transform: translateX(380px);
	-o-transform: translateX(380px);
	-webkit-transform: translateX(380px);
	transform: translateX(380px);
}
/* // hover effect */
/*-- //about --*/

/* Skills */
.skills,.contact,.education,.about{
	padding:10em 0;
}
.skill-grids-right {
    margin-top: 1em;
}
.skills p.p1 {
    font-size: 14px;
    text-align:justify;
    line-height: 28px;
    margin: 3em 0 0em;
    color: #353535;
    letter-spacing: .5px;
}

	/*-- Progress-Bar --*/

	/*-- //Progress-Bar --*/
	
/* //Skills */

/* //education */


h3.w3l_head.three {
    font-size: 40px;
    text-align:center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: #000;
    margin-bottom: .5em;
}

h4.w3l_head.three {
    text-align:center;
    }
a.w3l_head.three {
    text-align:center;
    }
/* //education */

/*-- Portfolio --*/

	/*-- Tabs --*/

		/*-- Tabs-Content --*/

		/*-- //Tabs-Content --*/

		/*-- Fallback --*/
		
		/*-- //Fallback --*/

		/*-- Tabs-Styling --*/

		/*-- //Tabs-Styling --*/

		/*-- Tab-Images --*/
		/*-- //Tab-Images --*/

	/*-- //Tabs --*/

/*-- //Portfolio --*/

/* contact */

@media screen and (max-width: 600px){
    .cert img{
        display:none;
        }

    }
/* //contact */

/* iframe */
/* //iframe */

/* copyright */
/* //copyright */

/*-- to-top --*/
/*-- //to-top --*/

/* Responsive design */
@media screen and (max-width: 1440px){
	.about-left h3 {
		width: 24%;
	}
	.banner,.agileinfo-dot {
		min-height: 700px;
	}
}
@media screen and (max-width: 1366px){
	nav.navbar.navbar-default.navbar-fixed-top {
		padding: .6em 7em;
	}
	.banner,.agileinfo-dot {
		min-height: 650px;
	}
	.w3_banner_info {
		margin: 11em 0 0em;
	}
	.about-left h3 {
		width: 20%;
		font-size: 40px;
		margin-bottom: 30px;
	}
	.skills, .contact, .education, .about {
		padding: 10em 0;
	}

}
@media screen and (max-width: 1280px){
	.about-left h3 {
		font-size: 36px;
	}
	.skills, .contact, .education, .about {
		padding: 10em 0;
	}
}
@media screen and (max-width: 1080px){
	nav.navbar.navbar-default.navbar-fixed-top {
		padding: .6em 5em;
	}
	.w3_banner_info_grid h2 {
		font-size: 2.7em;
	}
	h3.w3l_head.three {
		font-size: 30px;
		letter-spacing: 1px;
		
	}
	.about h3, .skills h3 {
		font-size: 35px;
		letter-spacing: 1px;
	}
	.about-left h3 {
		font-size: 30px;
	}
	.boxw3-agile .agile-caption {
		padding: 17% 10%;
	}
	.skills, .contact, .education, .about {
		padding: 3em 0;
	}
	.banner, .agileinfo-dot {
		min-height: 630px;
	}
}
@media screen and (max-width: 1024px){
	.banner, .agileinfo-dot {
		min-height: 600px;
	}
}
@media screen and (max-width: 991px){
	.w3_banner_info_grid h2 {
		font-size: 2.5em;
	}
	.about-right {
		width: 50%;	
		margin: 0 auto;
	}
	.boxw3-agile {
		width: 50%;
		float: left;
	}
	.skill-grids-right {
		margin-top: 4em;
	}
}
@media screen and (max-width: 900px){
	nav.navbar.navbar-default.navbar-fixed-top {
		padding: .6em 3em;
	}
}
@media screen and (max-width: 800px){
	.navbar-default .navbar-nav > li > a {
		letter-spacing: 0px;
	}
	nav.navbar.navbar-default.navbar-fixed-top {
		padding: .6em 2em;
	}
	
}
@media screen and (max-width: 768px){
	h1 a.navbar-brand {
		font-size: 32px;
	}
}
@media screen and (max-width: 736px){
	.navbar-default .navbar-nav > li > a {
		text-align: center;
	}
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-toggle {
		border-radius: 0px;
		background: #11b563;
		margin-right: 0;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #000;
	}
	nav.navbar.navbar-default.navbar-fixed-top {
		padding: .3em 2em 0;
	}
	.about-left {
		padding: 0 3em;
	}
	.about-right {
		width: 65%;
	}
	.w3_banner_info {
		margin: 9em 0 0em;
	}		
	.banner, .agileinfo-dot {
		min-height: 570px;
	}
}
@media screen and (max-width: 667px){
	.w3_banner_info {
		margin: 8em 0 0em;
	}		
	.banner, .agileinfo-dot {
		min-height: 550px;
	}
}
@media screen and (max-width: 640px){
	.w3_banner_info {
		margin: 8em 0 0em;
	}
	.banner, .agileinfo-dot {
		min-height: 550px;
	}
	.about h3, .skills h3 {
		font-size: 30px;
	}
	.about-left h3 {
		font-size: 26px;
		width: 16%;
	}
}
@media screen and (max-width: 600px){
	.w3_banner_info {
		margin: 6em 0 0em;
	}
	.banner, .agileinfo-dot {
		min-height: 510px;
	}
}
@media screen and (max-width: 568px){
	.banner, .agileinfo-dot {
		min-height: 500px;
	}
	.w3_banner_info {
		margin: 7em 0 0em;
	}
	.w3_banner_info_grid h2 {
		font-size: 2.2em;
	}
	.about-right {
		width: 80%;
	}
	.thim-click-to-bottom i {
		padding: 12px 10px;
	}
	.thim-click-to-bottom {
		bottom: 5%;
		width: 30px;
		height: 30px;
		font-size: 35px;
	}
}
@media screen and (max-width: 480px){
	.about-left h3 {
		font-size: 20px;
		width: 17%;
	}
	.about-right {
		width: 90%;
	}
	.w3_banner_info {
		width: auto;
	}
	.skills, .contact, .education, .about {
		padding: 2em 0;
	}
}
@media screen and (max-width: 414px){
	.about-left h3 {
		width: 20%;
	}
	.about-left {
		padding: 0 2em;
	}
	.about-right {
		width: 100%;
	}
	.boxw3-agile {
		padding: 5px;
		margin-bottom: 0em;
		margin-top: 0em;
	}
	.w3_banner_info {
		margin: 7em 0 4em;
	}
	.banner {
		background: url(../images/1.jpeg) no-repeat -182px 0px;
		background-size: cover;
	}
}
@media screen and (max-width: 384px){
	.w3_banner_info_grid ul li a {
		padding: 9px 20px;
	}
	.w3_banner_info_grid ul li {
		font-size: .9em;
	}
	nav.navbar.navbar-default.navbar-fixed-top {
		padding: .3em 1em 0;
	}
	.skill-grids-left {
		padding: 0;
	}
	.boxw3-agile .agile-caption h3 {
		font-size: 22px;
	}
	.boxw3-agile .agile-caption p {
		line-height: 1.6em;
	}
}
@media screen and (max-width: 375px){
	.w3_banner_info_grid h2 {
		font-size: 2em;
	}
}
@media screen and (max-width: 320px){
	.w3_banner_info_grid ul li a {
		padding: 8px 13px;
	}
	.about-left h3 {
		width: 25%;
	}
	.about-left {
		padding: 0 1em;
	}
	.boxw3-agile {
		width: 100%;
		float: none;
	}
	.w3_banner_info {
		margin: 4em 0 4em;
	}
	.w3_banner_info_grid p {
		margin: 1.5em 0 .5em;
	}
}

.contact h4{
    text-align:center;
    }
